<%= link_to('Visitor Check-in', edit_appointment_path(@visitor)) %>

<h2>Appointments</h2>
<div>
  <p>Name: <%= @visitor.name %></p>
  <p>Phone: <%= @visitor.phone %></p>
  <p>Email: <%= @visitor.email %></p>
</div>
